* {
  boder: 0;
  padding: 0;
  margin: 0; }

body {
  background-color: #F3D9B1; }

.container > * {
  position: absolute; }

.container {
  margin: auto;
  top: 10rem;
  left: 0;
  bottom: 0;
  width: 16.67rem;
  height: 16.67rem; }

.bun {
  width: 15rem;
  height: 5rem;
  background: #DF7B30;
  border-radius: 8.33rem 8.33rem 0 0;
  margin-top: 4rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%), radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%), radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%), radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%), radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%), radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%), radial-gradient(rgba(255, 255, 255, 0.7) 7%, transparent 9%);
  background-size: 80px 35px;
  background-position: -20px 2px, 5px -3px, -10px 20px, 35px -10px, 65px 2px, 100px -5px, 120px 15px;
  background-repeat: no-repeat; }

.face {
  z-index: 900;
  width: 10px;
  height: 10px;
  margin-top: 6rem;
  margin-left: 5.5rem;
  background: #333;
  border-radius: 100%; }
  .face:before, .face:after {
    content: '';
    position: absolute;
    background-color: #333; }
  .face:before {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 3rem; }
  .face:after {
    height: 10px;
    width: 10px;
    background: none;
    border: .2rem solid;
    transform: rotate(-45deg);
    margin-top: 1rem;
    margin-left: 1.4rem;
    border-radius: 100%;
    border-color: transparent transparent #333 #333; }

.tomato {
  background-color: #E83330;
  border-radius: 100px;
  width: 14rem;
  height: 1rem;
  margin-left: .7rem;
  margin-top: .3rem; }

.onion {
  background-color: #9E3D6D;
  width: 13.5rem;
  height: 1rem;
  margin-left: .9rem;
  margin-top: .4rem;
  background: radial-gradient(circle, white 1%, #9E3D6D 30%), radial-gradient(circle, white 1%, #9E3D6D 30%);
  background-position: 1rem, 1rem;
  background-size: 90px 2rem; }

.lettuce {
  margin-top: .4rem;
  margin-left: .6rem;
  width: 14rem;
  height: 1rem;
  background: #6DA000;
  border-radius: 3px; }

.cheese {
  background: #FFB400;
  height: 1rem;
  width: 14rem;
  margin-left: .5rem;
  margin-top: .3rem;
  border-radius: 3px; }
  .cheese:before, .cheese:after {
    content: '';
    position: absolute; }
  .cheese:before {
    z-index: 120;
    margin-left: 7rem;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 60px solid #FFB400; }
  .cheese:after {
    margin-top: .7rem;
    margin-left: 9rem;
    z-index: 120;
    width: 5px;
    height: 35px;
    background: #FFF;
    opacity: 0.5;
    border-radius: 100px;
    transform: rotate(-40deg); }

.ham {
  margin-top: 14.8rem;
  margin-left: .4rem;
  width: 14rem;
  height: 25px;
  background: #9D4845;
  border-radius: 100px;
  box-shadow: inset -5px -5px 5px rgba(68, 68, 68, 0.3); }

.bun2 {
  top: 16.9rem;
  margin-left: 1rem;
  width: 13rem;
  height: 30px;
  background: #DF7B30;
  border-radius: 0 0 100px 100px; }

/*# sourceMappingURL=style.css.map */
