* {
    boder: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3D9B1;
}

.container>* {
    position: absolute;
}

.container {
    margin: auto;
    top: 10rem;
    left: 0;
    bottom: 0;
    width: 16.67rem;
    height: 16.67rem;
}

.bun {
    $seed: radial-gradient(rgba(255, 255, 255, 0.7)7%, transparent 9%);
    width: 15rem;
    height: 5rem;
    background: #DF7B30;
    border-radius: 8.33rem 8.33rem 0 0;
    margin-top: 4rem;
    background-image: $seed, $seed, $seed, $seed, $seed, $seed, $seed;
    background-size: 80px 35px;
    background-position: -20px 2px, 5px -3px, -10px 20px, 35px -10px, 65px 2px, 100px -5px, 120px 15px;
    background-repeat: no-repeat;
}

.face {
    z-index: 900;
    width: 10px;
    height: 10px;
    margin-top: 6rem;
    margin-left: 5.5rem;
    background: #333;
    border-radius: 100%;
    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: #333;
    }
    &:before {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin-left: 3rem;
    }
    &:after {
        height: 10px;
        width: 10px;
        background: none;
        border: .2rem solid;
        transform: rotate( -45deg);
        margin: {
            top: 1rem;
            left: 1.4rem;
        }
        border: {
            radius: 100%;
            color: transparent transparent #333 #333;
        }
    }
}

.tomato {
    background-color: #E83330;
    border-radius: 100px;
    width: 14rem;
    height: 1rem;
    margin: {
        left: .7rem;
        top: .3rem;
    }
}

$fillGradient: radial-gradient(circle, rgba(255, 255, 255, 0.7)1%, #9E3D6D 30%);

.onion {
    background-color: #9E3D6D;
    width: 14.2rem;
    height: 1rem;
    margin: {
        left: .5rem;
        top: .4rem;
    }
    background: $fillGradient,
    $fillGradient;
    background-position: 1rem,
    1rem;
    background-size: 90px 2rem;
}

.lettuce {
    margin:{
    	top: .4rem; 
    	left: .6rem;{}
    }
    width: 14rem;
    height: 1rem;
    background: #6DA000;
    border-radius: 3px;
}
.cheese